*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
div.top-header {
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

div.top-header p{
    padding-bottom: 20px;
    padding-left: 20px;
}

/*header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}*/

header{
    background-color: #EAC926;
}

header div.logo{
    width: 150px;
    padding: 10px;
    position: relative;
    right: 20px;
}

header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
    padding-left: 20px;
}

header .form{
    width: 30%;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid rgb(0 0 0 / 5%);
    border-radius: 5px;
    outline: none;
    color: #bcbbbb;
    padding: 5px 15px;
}

header .form .submit{
    background-color: #FFF;
    /*border: 1px solid #000;*/
    color: #666;
    width: 10%;
    position: relative;
    top: -25px;
    left: 88%;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    /*height: 40px;*/
    margin: 10px 0px 20px 0px;
    padding: 10px;
    /*width: 40px;*/
}

.price{
    font-size: 18px;
    padding-right: 05px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

.discount {
    flex:35%;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
    margin-bottom: 05px;
    width: 100%;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 10px;
    height: 100%;
}

main section article img{
    width: 100%;
}

main section article .main-article{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-left: 15px;
    height: 80px;
}

.main-article i {
    display: flex;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    font-size: 16px;
    padding: 5px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    left: 78%;
    top: -15px;
}

main section article:hover {
    box-shadow: 0 0 10px rgb(100 100 100);
}

main section article:hover i {
    transform: rotate(-90deg);
    transition-duration: 450ms;
}


main section article:hover .description {
    display: block;
  }

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;
    align-items: baseline;
    position: relative;
}

/*STAR FOOTER*/
footer {
    background-color: #ffff;
}

.pestilosa{
    font-weight: lighter;
    color: #808080;
}

.pestilosa2{
    font-weight: lighter;
    color: #808080;
    margin-left: 30px !important;
    padding-bottom: 20px;
}

.intercalado {
    margin-bottom: 0px;
}

.espacio {
    margin-bottom: 10px;
}

footer .design-footer {
    text-align: center;
    padding: 0 70px;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .design-footer i {
    color: #1259c3;;
    font-size: 30px;
    padding-bottom: 7px;
    padding-top: 50px;

}

footer .design-footer h3 {
    font-size: 16px;
}

.info-footer .fas {
    font-size: 2em !important;
    margin-bottom: 10px !important;
}

div.info-footer i:hover {
    color: rgba(91, 128, 230, 0.397);
}

div.info-footer i {
    transition-duration: 650ms;
}

.info-footer {
    display: flex;
    flex-direction: column;
    width: 30%;
}
/*END FOOTER */

/*STAR REGISTRO*/
/* Add padding to containers */
.forms {
    display: flex;
    width: 100%;
    /* margin: 0 250px; */
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.forms .container {
    padding: 16px;
    background-color: white;
    width: 50%;
  }
  
  /* Full-width input fields */
  input {
    font-family: 'Roboto', sans-serif;
  }

  input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    background-image: none !important;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
    cursor: auto;
  }

 input[type=radio] {
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    margin-left: 30px;
  }

  .interes .perfil2 {
    font-size: 14px;
    color: rgb(95, 95, 95);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 20%;
}
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  input[type="date"] {
    justify-items: center;
  }

  input[type="date" i] {
    font-size: 14px;
    color:rgb(95, 95, 95)
  }

  input[type="checkbox" i] {
        margin-right: 10px;
        margin-top: 10px;
  }

  /*input[type="radio" i] {
    /* font-family: 'Roboto', sans-serif; 
    margin-right: 10px;
}*/

  .categoria {
    margin: 20px 0;
      font-family: 'Roboto', sans-serif;
  }

  .categoria .interes2 {
    font-size: 14px;
    color:rgb(95, 95, 95)
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .botones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  /*.botones :hover {
    background-color: #0022AA;
}*/
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #0439aa;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
  }

  .registerbtn :hover {
    background-color: #0022AA;
}
  
  .registerbtn a {
    color: dodgerblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
    opacity: 0.9;
  }

  .registerbtn a:hover {
    background-color: #0022AA;
    width: 80%;
    height: 60px;
}
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  /*END REGISTRO*/



/*START MEDIA QUERY*/

@media (max-width: 480px){
    header nav{
        display: none;
    }

    header div.logo {
        width: 100px;
        margin-bottom: 10px;
    }

    header .form {
        width: 50%;
    }

    .products {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .forms .container {
        width: 90%;
      }

      footer .design-footer {
        text-align: center;
        padding: 0 70px;
        background-color: #ffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .info-footer {
        width: 100%;
    }
}


@media (min-width: 481px) and (max-width: 768px){
    header nav{
        display: none;
    }

    header .form {
        width: 50%;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 35%;
    }

    /*smain section article .main-article{
        padding-left: 45px;
    }*/

    .products {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .forms .container {
        width: 80%;
    }

    footer .design-footer {
        text-align: center;
        padding: 0 70px;
        background-color: #ffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .info-footer {
        width: 100%;
    }
    }

@media (min-width: 769px){
    header nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 15px;
    }

    header nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-around;
        align-items: center;
        }
    
    main section article{
        width: 22%;
    }

      /* div.top-header {
        padding: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-end;
        justify-content: space-evenly;
        align-items: center;
    }

    header div.top-header p {
        margin-top: 0px;
        width: 60%;
    }

    header .form .submit {
        top: -20px;
    }*/

    .burger-menu {
        display: none;
    }

    .products {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

  

}